.container
	display: flex
	flex-direction: column

.navbar
	display: flex
	flex-direction: row
	justify-content: space-around
	.logo
		text-decoration: none
		color: rgba(0,0,0,0.7)
		&:hover
			color: rgba(0,0,0,1)
	.navLink
		text-decoration: none
		padding-left: 10px
		color: rgba(0,0,0,0.5)
		&:hover
			color: rgba(0,0,0,1)


.flex-util-center
  display: flex
  align-items: center
  justify-content: center

*
	box-sizing: border-box

html, body
	width: 100%
	font-family: Helvetica, Verdana, sans-serif
